<form action="/shelters" method="post">
  <input type="hidden" name="authenticity_token" value="<% form_authenticity_token %>">
  <h1>Enter a new shelter:</h1>
  Name<input type='text' name='shelter[name]'/><br/>
  Address<input type='text' name='shelter[address]'/><br/>
  State<input type='text' name='shelter[state]'/><br/>
  City<input type='text' name='shelter[city]'/><br/>
  Zip Code<input type='text' name='shelter[zip]'/><br/>
  <input type='submit'/>
</form>
