<form action="shelters/<%= @shelter.id %>/pets" method="post">
  <input type="hidden" name="authenticity_token" value="<% form_authenticity_token %>">
  <h2>Add a new pet:</h2>
  Name<input type='text' name='pet[name]'/><br/>
  Image<input type='image' name='pet[image]'/><br/>
  Description<input type='text' name='pet[description]'/><br/>
  Approximate Age<input type='text' name='pet[approximate_age]'/><br/>
  Sex<input type='text' name='pet[sex]'/><br/>
  Status<"adoptable"><br/>
  <input type='submit' value='Create Pet'/>
</form>
